<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blxt.android.editormd" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

<!--    <application>-->

<!--        <activity-->
<!--            android:name=".PreviewActivity"-->
<!--            android:theme="@style/AppTheme.NoActionBar"  >-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <action android:name="android.intent.action.EDIT" />-->

<!--&lt;!&ndash;                <category android:name="android.intent.category.DEFAULT" />&ndash;&gt;-->
<!--&lt;!&ndash;                <category android:name="android.intent.category.BROWSABLE" />&ndash;&gt;-->

<!--                <data-->
<!--                    android:host="*"-->
<!--                    android:mimeType="*/*"-->
<!--                    android:pathPattern=".*\\.md"-->
<!--                    android:scheme="file" />-->
<!--                <data-->
<!--                    android:host="*"-->
<!--                    android:mimeType="*/*"-->
<!--                    android:pathPattern=".*\\.markdown"-->
<!--                    android:scheme="file" />-->
<!--                <data-->
<!--                    android:host="*"-->
<!--                    android:mimeType="*/*"-->
<!--                    android:pathPattern=".*\\.mdown"-->
<!--                    android:scheme="file" />-->
<!--                <data-->
<!--                    android:host="*"-->
<!--                    android:mimeType="*/*"-->
<!--                    android:pathPattern=".*\\.txt"-->
<!--                    android:scheme="file" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--    </application>-->

</manifest>